
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}
.card {
  width: 100px;
  height: 110px;
  margin: 0 auto;
  padding: 10px 14px 0;
  text-align: center;
  background: #fafafa;
  border: 3px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.skillName {
font-weight: 500;
font-size: 1rem;
padding-top: 10px;
}
.logo {
  width: 54px;
  height: 54px;
  object-fit: contain;
}
@media (max-width: 580px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
