
.card {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 20px 28px 0;
  text-align: center;
  background: #fafafa;
  border: 3px solid #000;
  border-radius: 4px;
  display: grid;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
}
/* .card:nth-child(-n+3) {
  transform: translateX(-10px);
}
.card:nth-child(n+4) {
  transform: translateX(90px);
} */
.skillName {
font-weight: 500;
}
.logo {
  width: 108px;
  height: 108px;
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}
/* @media (max-width: 580px) {
  .card:nth-child(-n+3) {
    transform: none;
  }
  .card:nth-child(n+4) {
    transform: none;
  }
} */
@media (max-width: 580px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
