
.footer {
  max-width: 1800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background:#fafafa;
  margin: 0 auto;
  padding: 6px 8.5rem 6px 13rem;
  padding-right: clamp(20px, 10vw, 8.5rem);
  padding-left: clamp(20px, 10vw, 13rem);
}

