@import "../../reset.css";
:root {
  --font-base: var(--font-inter),
  var(--font-noto), system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
body {
  font-family: var(--font-base);
  background-color: #fafafa;
  background-image: url("/images/back3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: calc(50% - (var(--scroll-y, 0) * 0.1px));
}
@media (max-width: 1100px) {
  body {
    background-position-y: top;
  }
}

/* body * {
  outline: red solid 1px;
} */
