.detailCard {
  background: #fafafa;
  padding: clamp(10px, 4vw, 48px);
  padding-bottom: 20px;
  border-radius: 15px;
  width: 90vw;
  max-width: 1000px;
  max-height: 90%;
  margin: 10px;
  z-index: 200;
  overflow-y: scroll;
}
/* scroll bar */
.detailCard::-webkit-scrollbar {
  width: 6px;
}
.detailCard::-webkit-scrollbar-track {
  background: transparent;
}
.detailCard::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 10px;
}
.detailCard::-webkit-scrollbar-thumb:hover {
  background: #999;
}
/* imageArea */
.imageWrap {
  width: 100%;
  margin: 0 auto;
}
.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  border: #000 solid 1px;
}


/* textArea > tech + title + description + link */
.textArea {
  max-width: 700px;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4,1fr); */
  letter-spacing: 2px;
  line-height: 1.1;
}
.techArea {
  display: flex;
  padding: 3px;
  justify-content: right;
  gap: 5px;
  flex-wrap: wrap;
}
.techWrap {
  display: flex;
  margin-right: 5px;
  justify-content:right;
}
.techLogo {
  width: 13px;
  height: 13px;
  transform: translateY(2px);
  margin-right: 2px;
}
.title {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
  padding: 8px;
}
.description {
  max-width: 100%;
  margin: 0 auto;
  padding: 32px 16px;
  margin-bottom: 30px;
}
.h4 {
  font-weight: 600;
  text-align: center;
  padding: 10px;
  border-top: gray 1px solid;
}
.bodyItem {
  padding: 2px 5px;
  text-align: center;
  line-height: 1.6;
}
.links {
  display: flex;
  margin: 0 auto;
  padding-bottom: 10px;
  gap: 16px;
  justify-content: center;
}
.github, .vercel {
  text-decoration: underline;
}
.github:hover, .vercel:hover {
  color: blue;
  scale: 1.06;
}
.logo {
  width: 13px;
  height: 13px;
  transform: translateY(-2px);
}
.closeBtn {
  width: 65px;
  margin: 15px auto;
  text-align: center;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #767676;
  color: #fafafa;
  margin: 8px auto;
  display: block;
}
.closeBtn:hover {
  scale: 1.02;
  background: #b7b7b7;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


