
.section {
  max-width: 1800px;
  padding-top: 30px;
  margin: 0 auto;
}
.container {
  max-width: 525px;
  margin: 0 auto;
  text-align: center;
}
.h2 {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: bold;
  letter-spacing: .2rem;
  margin: 80px 0;
  grid-column: 2/3;
}
.h3 {
  font-size: 2rem;
  font-weight:600;
  letter-spacing: .2rem;
  margin: 80px 0;
  grid-column: 2/3;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
}
.sectionTitle {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 580px) {
  .container {
    width: 335px;
  }
}
