.section {
  max-width: 1800px;
  min-height: 800px;
  /* padding-bottom: 200px; */
  margin: 0 auto;
  padding: 80px 0 160px 0;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,auto);
  grid-template-areas:
  ". h1 profImg . ."
  ". . profImg textWrap textWrap";
}
.img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: darkgrey;
}
.profImg {
  grid-area: profImg;
  text-align: center;
  padding-top: 90px;
}
.h1 {
  grid-area: h1;
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: bold;
  letter-spacing: .2rem;
}
.textWrap {
  grid-area: textWrap;
  display: grid;
  text-align: center;
  align-items: end;
  line-height: 1.7;
  letter-spacing: .05rem;
  padding-bottom: 24px;
  padding-right:clamp(5px,5vw,9vw);
}
.line2 {
  margin-left: 1.7rem;
}
.line3 {
  margin-left: 3.4rem;
}
.p {
  margin-top: 15px;
  font-weight: 500;
}
@media (max-width:864px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .h1 {
    text-align: center;
    padding-right: 100px;
  }
  .textWrap {
    padding-left: 100px;
  }
}
