.section {
  max-width: 1800px;
  margin: 0 auto;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}
.h2 {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: bold;
  letter-spacing: .2rem;
  grid-column: 2/3;
  margin: 80px 0;
}
.sectionTitle {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


